@model IEnumerable<SAC.Domain.Models.Archer>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Archers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<style>
    th {
        padding: 5px;
    }
</style>

<table class="display" id="tblArchers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
</thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
</tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblArchers').DataTable();
        });
    </script>
}