@model SAC.Web.Models.TournamentResultViewModel

@{
    ViewBag.Title = "Correction";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <h3>All done?</h3>
</div>

<div>
    <h4>Tournament</h4>
    <hr />
    @Html.DisplayFor(model => model, "TournamentConfirm")

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn-group">
                <a href="@Url.Action("Edit", new { Id = Model.Tournament.Id })" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a href="@Url.Action("Admin")" class="btn btn-default"><i class="glyphicon glyphicon-menu-hamburger"></i> Back to List</a>
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i> Correction</button>
            </div>
        </div>
    }
</div>
