@model SAC.Domain.Models.Tournament

@{
    ViewBag.Title = "Edit";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tournament</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <a href="@Url.Action("Create", "Competitors", new { Id = Model.Id })" class="btn btn-default"><i class="glyphicon glyphicon-user"></i> Add Competitor</a>
                </div>

                <table class="table table-striped table-hover tbl_pointer" id="tblCompetitors">
                    <thead>
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.Competitors.First().Archer)
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Competitors.First().Class.Group)
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Competitors.First().Class)
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Competitors.First().Score)
                            </th>
                            <th>
                                @Html.LabelFor(model => model.Competitors.First().Bonus)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Competitors)
                        {
                            <tr id="@item.Id" onclick="location.href = '@(Url.Action("Edit", "Competitors", new { id = item.Id }))'">
                                <td>
                                    @Html.DisplayFor(model => item.Archer)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Class.Group.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Class.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Score)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Bonus)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="btn-group">
                            <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                            <a href="@Url.Action("Admin")" class="btn btn-default"><i class="glyphicon glyphicon-menu-hamburger"></i> Back to List</a>
                            <a href="@Url.Action("Complete", new { id = Model.Id })" id="btnComplete" class="btn btn-default" style="display: none;"><i class="glyphicon glyphicon-check"></i> Complete</a>
                            <a href="@Url.Action("Correction", new { id = Model.Id })" id="btnCorrection" class="btn btn-default" style="display: none;"><i class="glyphicon glyphicon-check"></i> Correction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function() {
            var table = $('#tblCompetitors').DataTable();

            $(".dataTables_filter input[type='search']").on("keydown",
                function (evtObj) {
                    if (evtObj.keyCode === 13) {
                        evtObj.stopPropagation();
                        evtObj.preventDefault();

                        var compId = table.row(':eq(0)', { page: 'current' }).id();

                        window.location.href = "/Competitors/Edit/" + compId;

                        return false;
                    }
                    return true;
                });
        });

        // Set correct functionality for action
        $(function() {
            if (@Model.Completed.ToString().ToLower()) {
                $('#btnCorrection').show();
            } else {
                $('#btnComplete').show();
            }
        });
    </script>
}
