@model IEnumerable<SAC.Domain.Models.Tournament>

@{
    ViewBag.Title = "View Tournament Results";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover tbl_pointer" id="tblTournaments">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules.First().Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Results", new { id = item.Id }))'">
                <td>
                    @string.Join(",", item.Schedules.Select(s => s.ShortDate))
                </td>
                <td>
                    @string.Join(",", item.Schedules.Select(s => s.Club.Name).Distinct())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('#tblTournaments').DataTable();
        });
    </script>
}
