@model IEnumerable<SAC.Domain.Models.Tournament>

@{
    ViewBag.Title = "Tournaments";
    int y = 0;
    int m = 0;
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>Find information about recent tournaments and view their results.</p>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="timeline timeline-line-dotted">
            @foreach (var item in Model)
            {
                if (y != item.Schedules.First().Date.Year)
                {
                    y = item.Schedules.First().Date.Year;
                    <span class="timeline-label">
                        <span class="label label-primary">@item.Schedules.First().Date.ToString("yyyy")</span>
                    </span>
                }

                if (m != item.Schedules.First().Date.Month)
                {
                    m = item.Schedules.First().Date.Month;
                    <span class="timeline-label">
                        <span class="label label-primary">@item.Schedules.First().Date.ToString("MMMM")</span>
                    </span>
                }

                <div class="timeline-item">
                    <div class="timeline-point timeline-point-warning">
                        <i class="glyphicon glyphicon-bullhorn"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>@item.Schedules.First().Club.Name</h4>
                        </div>
                        <div class="timeline-body">
                            <a href="@Url.Action("Results", new { id = item.Id })" class="btn btn-warning">See results</a>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">@item.Schedules.First().ShortDate</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
