@model SAC.Web.Models.TournamentResultViewModel

@{
    ViewBag.Title = "Results";
}

<div class="jumbotron">
    <h2>Tournament Results</h2>
    <p>The following results are for the tournament on @string.Join(",", Model.Tournament.Schedules.OrderBy(s => s.Date).Select(s => s.ShortDate)) held at @string.Join(",", Model.Tournament.Schedules.Select(s => s.Club.Name).Distinct()).</p>
</div>

@foreach (var group in Model.Groups)
{
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@group.Name</h3>
            </div>
            <div class="panel-body">
                @foreach (var item in Model.Classes.Where(c => c.GroupId == group.Id))
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading"><div class="classDot" style="background: @item.Color.HexCode"></div>&nbsp;@item.Name</div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.Label("Rank")
                                        </th>
                                        <th>
                                            @Html.Label("Archer")
                                        </th>
                                        <th>
                                            @Html.Label("Score")
                                        </th>
                                        <th>
                                            @Html.Label("12's")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var c in Model.Competitors.Where(c => c.Competitor.ClassId == item.Id))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => c.Rank)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => c.Competitor.Archer)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => c.Competitor.Score)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => c.Competitor.Bonus)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@Html.Partial("Disqus")
