@model SAC.Web.Models.TournamentResultViewModel

@{
    ViewBag.Title = "Results";
}

<div class="jumbotron">
    <h2>Tournament Results</h2>
    <p>The following results are for the tournament on @string.Join(",", Model.Tournament.Schedules.OrderBy(s => s.Date).Select(s => s.ShortDate)) held at @string.Join(",", Model.Tournament.Schedules.Select(s => s.Club.Name).Distinct()).</p>
</div>

@foreach (var group in Model.Groups.OrderBy(g => g.SortOrder))
{
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@group.Name</h3>
            </div>
            <div class="panel-body">
                @foreach (var item in Model.Classes.Where(c => c.Group.Id == group.Id).OrderByDescending(c => c.MaximumYardage).ThenBy(c => c.Known.ToString()).ThenBy(c => c.Name))
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading"><div class="classDot" style="background: @item.Color.HexCode"></div>&nbsp;@item.Name</div>
                        <div class="panel-body">
                            1 Comp Names<br />
                            2 Comp Names<br />
                            3 Comp Names
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@Html.Partial("Disqus")
