@model SAC.Domain.Models.Competitor

@{
    ViewBag.Title = "Delete";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <h4>Are you sure you want to delete this?</h4>
</div>

<div>
    <h4>Competitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Archer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn-group">
                <a href="@Url.Action("Edit", new { Id = Model.Id })" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                <a href="@Url.Action("Edit", "Tournaments", new { id = Model.TournamentId })" class="btn btn-default"><i class="glyphicon glyphicon-menu-hamburger"></i> Back to List</a>
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</button>
            </div>
        </div>
    }
</div>
