@model SAC.Domain.Models.Competitor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Competitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Archer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
