@model IEnumerable<SAC.Domain.Models.Club>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Your Local Clubs</h2>
    <p class="lead">Find information about your local clubs below and check out their websites.  Get driving directions and come visit.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">

            <h3>@item.Name</h3>

            <div class="row">
                <div class="col-md-10">
                    @Html.ActionLink("Get Directions", "Directions", new { id = item.Id }, htmlAttributes: new { @class = "ui-button ui-widget ui-corner-all" })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => item.Website, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <a href="@item.Website" target="_blank">Click Here To Visit Now</a>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => item.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <a href="mailto:@item.Email?Subject=Infromation about @item.Name">@item.Contact</a>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => item.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <a href="tel:@item.Phone">@item.Phone</a>
                </div>
            </div>

            @if (User.IsInRole("Club Admin")
               || User.IsInRole("Tech Admin"))
            {
                <div class="form-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            }

        </div>
    }
</div>

@if (User.IsInRole("Club Admin")
                || User.IsInRole("Tech Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}