@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Southern Archery Circut</h2>
    @*<p class="lead">TODO: Info</p>*@
</div>

<div class="row">

    <div class="col-md-4">
        <h3>Latest Scores</h3>
        <p>bla bla bla</p>
        <p>@Html.ActionLink("See Scores Now", "Index", "Tournaments", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h3>Upcoming Tournaments</h3>
        <p>bla bla bla</p>
        <p>@Html.ActionLink("View Schedule", "Index", "Schedules", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h3>Local Clubs</h3>
        <p>bla bla bla</p>
        <p>@Html.ActionLink("Club List", "Index", "Clubs", null, new { @class = "btn btn-default" })</p>
    </div>

</div>

@*@model IEnumerable<SAC.Domain.Models.Tournament>

<div class="row" style="margin-top:20px">
    <div style="float: left; margin-right:25px">
        <img src="~/Content/Images/SAC.PNG" />
    </div>

    <div style="margin-left:25px">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </div>
</div>*@

@*<div class="row" style="margin-top:20px">
    <a href='@Model.SacFacebookURL' target="_blank">
        <img src='@Url.Content(Model.FacebookImg)' />
    </a>
</div>*@


@*<div class="row" style="margin-top:20px">
    <div class="col-sm-push-3" style="float:left; margin-right:50px">
        @Html.DisplayFor(x => x, "TournamentMenu")
    </div>

    <div class="col-sm-push-3" align="center">
        <img style width="600" height="300" src="~/Content/Images/SAC2.jpg" />
    </div>
</div>*@