@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Tech Admin")
        || User.IsInRole("Club Admin")
        || User.IsInRole("Club User")
        || User.IsInRole("Scheduler"))
    {
        <li class="divider"></li>
        <li class="dropdown dropdown-submenu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @if (User.IsInRole("Tech Admin")
                    || User.IsInRole("Club Admin"))
                {
                    <li>@Html.ActionLink("Clubs", "Admin", "Clubs")</li>
                }

                @if (User.IsInRole("Tech Admin")
                    || User.IsInRole("Scheduler"))
                {
                    <li>@Html.ActionLink("Schedules", "Admin", "Schedules")</li>
                }
                
                @if (User.IsInRole("Tech Admin")
                    || User.IsInRole("Club Admin")
                    || User.IsInRole("Club User"))
                {
                    <li>@Html.ActionLink("Tournaments", "Admin", "Tournaments")</li>
                }

                @if (User.IsInRole("Tech Admin"))
                {
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Awards", "Admin", "Awards")</li>
                    <li>@Html.ActionLink("Classes", "Admin", "Classes")</li>
                    <li>@Html.ActionLink("Colors", "Admin", "Colors")</li>
                    <li>@Html.ActionLink("Groups", "Admin", "Groups")</li>
                    <li>@Html.ActionLink("Users", "Admin", "Users")</li>
                }
            </ul>
        </li>
    }
}
