@model SAC.Domain.Models.Class

<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">

        <div class="row">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Code)
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Known, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Known)
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.MaximumYardage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.MaximumYardage)
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Restrictions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Restrictions)
            </div>
        </div>
    </div>
</div>