@model SAC.Domain.Models.Class

<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Known, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Known)
            </dd>

            <dt>
                @Html.LabelFor(model => model.MaximumYardage, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaximumYardage)
            </dd>

            <dt>

            </dt>
                @Html.LabelFor(model => model.Restrictions, htmlAttributes: new { @class = "control-label col-md-2" })
            <dd>
                @Html.DisplayFor(model => model.Restrictions)
            </dd>
        </dl>
    </div>
</div>