@model SAC.Domain.Models.Class

<div class="panel panel-default">
    <div class="panel-heading"><div class="classDot" style="background: @Model.Color.HexCode"></div>&nbsp;@Model.Name</div>
    <div class="panel-body">
        @Html.DisplayFor(model => model.Known, "boolKnown")
        <p>@Html.DisplayFor(model => model.Description)</p>
        <p>Maximum distance of @Html.DisplayFor(model => model.MaximumYardage) yards.</p>
        @if (Model.Restrictions.Length > 0)
        {
            <p>Restrictions:&nbsp;<span class="text-danger">@Html.DisplayFor(model => model.Restrictions)</span></p>
        }
    </div>
</div>