@model SAC.Domain.Models.Club

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name</h3>
    </div>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-md-10">
                @Html.ActionLink("Get Directions", "Directions", new { id = Model.Id }, htmlAttributes: new { @class = "ui-button ui-widget ui-corner-all" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="@Model.Website" target="_blank">Click Here To Visit Now</a>
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="mailto:@Model.Email?Subject=Infromation about @Model.Name">@Model.Contact</a>
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Phone, "Phone")
            </div>
        </div>

    </div>
</div>
