@model SAC.Domain.Models.Club

<div class="panel panel-default">
    @*<div class="panel-heading">*@

    @*</div>*@
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-5">
                <div class="roundThumbnail" style="background-image:url(Content/Images/@Model.IconFileName)"></div>
            </div>
            <div class="col-xs-7">
                <h3>@Model.Name</h3>
                @Html.ActionLink("Get Directions", "Directions", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="@Model.Website" target="_blank">Click Here To Visit Now</a>
            </div>
        </div>

        @foreach (var contact in Model.Contacts)
        {
            <div class="row">
                @Html.LabelFor(model => contact.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <a href="mailto:@contact.Email?Subject=Infromation about @Model.Name">@contact.Name</a>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => contact.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => contact.Phone, "Phone")
                </div>
            </div>
        }
    </div>
</div>
